a.details.details-location(href= item.linkSubtitle)
  span.visually-hidden Подробнее

  svg(
    width="81" height="60"
    viewBox="0 0 81 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  )

    circle(
      cx="50.6172" cy="30"
      r="29.5" stroke="#79797a"
    )

    path(
      d="M0.617188 30H60.6172M60.6172 30L50.4522 20M60.6172 30L50.4522 40"
      stroke="#020202" stroke-width="2"
    )