- var sectionClass = 'techsupport';
- var titleName = 'Техподдержка';

- var itemFirsts = [{item: 'Бесплатно скачайте программу удаленного доступа:', hrefLink1: 'https://download.teamviewer.com/full', textLink1: ' TeamViewer', hrefLink2: 'https://download.anydesk.com/AnyDesk.exe?_ga=2.189578219.1774732866.1625581632-671037432.1625581632', textLink2: ' AnyDesk'}];

- var items = [{item: 'Запустите приложение, нажав на соответствующую кнопку.'}, {item: 'Дайте нашему специалисту Ваш ID и, если необходимо, пароль, для удаленного доступа к компьютеру.'}, {item: 'Нажмите, если необходимо, на кнопку «Разрешить».'}];



section.section.section--running-line(class= sectionClass)(id= sectionClass)
  div.container

    header.section-header
      h2.section-title= titleName
        span.blink-underscore _

    p.section-description.techsupport-description Чтобы мы оперативно решили Вашу IT-проблему предоставьте удалённый доступ нашему специалисту.

    ol.techsupport-list
      each itemFirst in itemFirsts
        li.techsupport-item
          p.techsupport-item-text= itemFirst.item

          p.techsupport-item-group
            a.techsupport-item-link(href= itemFirst.hrefLink1 download) скачать
              span.techsupport-item-link__inner= itemFirst.textLink1
              svg(width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M19.1873 22.333H1.57629C1.24267 22.333 0.922707 22.4599 0.686799 22.6858C0.450891 22.9116 0.318359 23.2179 0.318359 23.5373C0.318359 23.8567 0.450891 24.1631 0.686799 24.3889C0.922707 24.6148 1.24267 24.7416 1.57629 24.7416H19.1873C19.5209 24.7416 19.8409 24.6148 20.0768 24.3889C20.3127 24.1631 20.4452 23.8567 20.4452 23.5373C20.4452 23.2179 20.3127 22.9116 20.0768 22.6858C19.8409 22.4599 19.5209 22.333 19.1873 22.333ZM9.48867 19.5752C9.60831 19.6848 9.74938 19.7708 9.90379 19.8281C10.0544 19.8918 10.2172 19.9247 10.3818 19.9247C10.5464 19.9247 10.7092 19.8918 10.8598 19.8281C11.0142 19.7708 11.1553 19.6848 11.2749 19.5752L16.3067 14.7579C16.5435 14.5312 16.6766 14.2236 16.6766 13.9029C16.6766 13.5822 16.5435 13.2746 16.3067 13.0478C16.0698 12.8211 15.7485 12.6937 15.4135 12.6937C15.0785 12.6937 14.7573 12.8211 14.5204 13.0478L11.6397 15.8177V1.85982C11.6397 1.54042 11.5072 1.2341 11.2713 1.00825C11.0354 0.782399 10.7154 0.655518 10.3818 0.655518C10.0482 0.655518 9.72822 0.782399 9.49231 1.00825C9.25641 1.2341 9.12387 1.54042 9.12387 1.85982V15.8177L6.24321 13.0478C6.12593 12.9355 5.98668 12.8465 5.83344 12.7857C5.6802 12.7249 5.51595 12.6937 5.35008 12.6937C5.18421 12.6937 5.01997 12.7249 4.86672 12.7857C4.71348 12.8465 4.57424 12.9355 4.45695 13.0478C4.33966 13.1601 4.24663 13.2934 4.18315 13.4401C4.11967 13.5868 4.087 13.7441 4.087 13.9029C4.087 14.0617 4.11967 14.2189 4.18315 14.3656C4.24663 14.5124 4.33966 14.6457 4.45695 14.7579L9.48867 19.5752Z" fill="#020202")

            span или

            a.techsupport-item-link(href= itemFirst.hrefLink2 download) скачать
              span.techsupport-item-link__inner= itemFirst.textLink2
              svg(width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M19.1873 22.333H1.57629C1.24267 22.333 0.922707 22.4599 0.686799 22.6858C0.450891 22.9116 0.318359 23.2179 0.318359 23.5373C0.318359 23.8567 0.450891 24.1631 0.686799 24.3889C0.922707 24.6148 1.24267 24.7416 1.57629 24.7416H19.1873C19.5209 24.7416 19.8409 24.6148 20.0768 24.3889C20.3127 24.1631 20.4452 23.8567 20.4452 23.5373C20.4452 23.2179 20.3127 22.9116 20.0768 22.6858C19.8409 22.4599 19.5209 22.333 19.1873 22.333ZM9.48867 19.5752C9.60831 19.6848 9.74938 19.7708 9.90379 19.8281C10.0544 19.8918 10.2172 19.9247 10.3818 19.9247C10.5464 19.9247 10.7092 19.8918 10.8598 19.8281C11.0142 19.7708 11.1553 19.6848 11.2749 19.5752L16.3067 14.7579C16.5435 14.5312 16.6766 14.2236 16.6766 13.9029C16.6766 13.5822 16.5435 13.2746 16.3067 13.0478C16.0698 12.8211 15.7485 12.6937 15.4135 12.6937C15.0785 12.6937 14.7573 12.8211 14.5204 13.0478L11.6397 15.8177V1.85982C11.6397 1.54042 11.5072 1.2341 11.2713 1.00825C11.0354 0.782399 10.7154 0.655518 10.3818 0.655518C10.0482 0.655518 9.72822 0.782399 9.49231 1.00825C9.25641 1.2341 9.12387 1.54042 9.12387 1.85982V15.8177L6.24321 13.0478C6.12593 12.9355 5.98668 12.8465 5.83344 12.7857C5.6802 12.7249 5.51595 12.6937 5.35008 12.6937C5.18421 12.6937 5.01997 12.7249 4.86672 12.7857C4.71348 12.8465 4.57424 12.9355 4.45695 13.0478C4.33966 13.1601 4.24663 13.2934 4.18315 13.4401C4.11967 13.5868 4.087 13.7441 4.087 13.9029C4.087 14.0617 4.11967 14.2189 4.18315 14.3656C4.24663 14.5124 4.33966 14.6457 4.45695 14.7579L9.48867 19.5752Z" fill="#020202")

      each item in items
        li.techsupport-item= item.item

    p.techsupport-question Возникли вопросы?

    include ../../../generals/btn/btn/btn
  include ../../../generals/running-line/running-line