if page && header
  a.logo
    img.logo__image(
      src="img/logo/logo.png"
      width="80" height="35"
      alt="Логотип it-компании «Первый союз программистов»"
    )
else
  a.logo(href="index.html")
    img.logo__image(
      src="img/logo/logo.png"
      width="80" height="35"
      alt="Логотип it-компании «Первый союз программистов»"
    )